<header style="height:15%">
  <div class="header_color" style="height: 100%; background-color: #f8baa3; color: #fff; display: flex; align-items: center;" >
    <div class="container-fluid">
      <div class="row">
      	<div  class="col-3 col-md-2">
	        <a href="#">
				    <img src="assets/img/inicio.png" alt="Menu" style="width:25px;">
				  </a>
		    </div>
		    <div  class="col-5 col-md-8 text-center">
	        <h4>Recoger</h4>
		    </div>
		    <div  class="col-4 col-md-2 text-right">
	        <a href="#" style="margin-right: 0.5rem;" >
				    <img src="assets/img/buscar.png" alt="Buscar" style="width:25px;">
				  </a>
				  <a href="#" style="margin-right: 0rem;" >
				    <img src="assets/img/salir.png" alt="Cerrar" style="width:25px;">
				  </a>
		    </div>
      </div>
	  </div>
  </div>
</header>

<div class="container text-center" style="color: #ffffff;">

  <div class="row">

    <div class="col-12 nopad" style="margin-top:10%">

      <div style="text-align:center">

          <img class="invert" src="assets/img/recoger.png" alt="" style="width:100px;height:auto;text-align:center">

      </div>

    </div>



    <div class="col-12 text-center nopad" style="margin-top:30px">
      
      <div class=" nopad box box-caja col-8 offset-2"  style="margin-top: 10px;margin-bottom:0px">

        <a  >

            <div class="" style="padding: 10px; margin-bottom: 0px">

                <img style="max-height:25px;display:inline-block;position:absolute;left:20px;top:13px" src="assets/img/check.png" alt="">
                <span style="color:white;font-size:20px"> Producto 1 </span>

            </div>

        </a>

      </div>

    </div>

    <div class="col-12 text-center nopad" style="margin-top:10px">
      
      <div class=" nopad box box-caja col-8 offset-2"  style="margin-top: 10px;margin-bottom:0px">

        <a  >

            <div class="" style="padding: 10px; margin-bottom: 0px">

                <img style="max-height:25px;display:inline-block;position:absolute;left:20px;top:13px" src="assets/img/check.png" alt="">
                <span style="color:white;font-size:20px"> Producto 2 </span>

            </div>

        </a>

      </div>

    </div>

    <div class="col-12 text-center nopad" style="margin-top:10px">
      
      <div class=" nopad box box-caja col-8 offset-2"  style="margin-top: 10px;margin-bottom:0px">

        <a  >

            <div class="" style="padding: 10px; margin-bottom: 0px">

                <img style="max-height:25px;display:inline-block;position:absolute;left:20px;top:13px" src="assets/img/check.png" alt="">
                <span style="color:white;font-size:20px"> Producto 3 </span>

            </div>

        </a>

      </div>

    </div>

    <div class="col-12 text-center nopad" style="margin-top:10px">
      
      <div class=" nopad box box-caja col-8 offset-2"  style="margin-top: 10px;margin-bottom:0px">

        <a  >

            <div class="" style="padding: 10px; margin-bottom: 0px">

                <img style="max-height:25px;display:inline-block;position:absolute;left:20px;top:13px" src="assets/img/check.png" alt="">
                <span style="color:white;font-size:20px"> Producto 4 </span>

            </div>

        </a>

      </div>

    </div>

    <div class="col-12 text-center nopad" style="margin-top:60px">
      
      <div class=" nopad box box-caja col-6 offset-3"  style="margin-top: 10px;margin-bottom:0px;border-radius:5px;background-color:#6d1f59">

        <a  >

            <div class="" style="padding: 3px; margin-bottom: 0px">

                <a style="color:white;font-size:20px"> Confirmar </a>

            </div>

        </a>

      </div>

    </div>



  
  </div>